.fixedRightCorner{
    position: fixed;
    top: 0;
    right: 0;
}

.linkListExpansionControl {
    color: light-dark(black, white);
    background-color: light-dark(white, black);
}

.linkList {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-width: 1px;
    border-style: solid;
    border-color: light-dark(black, white);
    border-radius: 25px;
    background-color: light-dark(white, rgb(50, 50, 50));
    gap: 1rem;
    padding: 1rem 0 1rem 0;
}

.linkList > button {
    box-sizing: border-box;
    margin: 0 1rem 0 1rem;
}

.linkList > hr {
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}