.modalOverlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.7);
    z-index: 1000;
}

.modalBase{
    color-scheme: light dark;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: light-dark(white, black);
    color: light-dark(black, white);
    padding: 5px;
    z-index: 1000;
}

.changeTagsForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: flex-start;
    gap: 1rem;
}

.changeTagsForm > button {
    margin: .1rem;
}

.modalTitleBar> .exitButton {
    margin: 0;
}

.exitButton {
    position: absolute;
    top: 0;
    left: 100%;
    transform: translate(-100%, 0);
}

.modalTitleBar {
    margin-right: 5rem;
    margin-top: 1rem;
    font-size: 2rem;
}

.formRow {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.hidden {
    display: none;
}

.errorMessage {
    color: red;
    font-size: 1.5rem;
}