form{
    display: inline;
}

#newMessageFormRoot{
    display: flex;
    flex-direction: row;
}

.formDiv{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 100%;
}

.replyToPostMode {
    background-color: light-dark(yellow, blue);
}

table button{
    margin: 0;
}

td {
    padding: .25rem;
}

.hidden {
    display: none;
}

.toggleButton {
    box-sizing: border-box;
}