.messagePostContextRootDiv{
    position: absolute;
    color-scheme: light dark;
    border-radius: 20px;
    border: 2px solid light-dark(black, white);
    background-color: light-dark(white, rgb(20, 20, 20));
    color: light-dark(black, white);
    width: fit-content;
    box-sizing: border-box;
    padding: 1rem;
}

.clickableElement {
    height: fit-content;
    padding: .1rem 2rem .1rem 2rem;
    box-sizing: border-box;
}

.clickableElement:hover {
    background-color: light-dark(rgb(150,150,150), rgb(100,100,100));
    cursor: pointer;
}