.branchMain{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
}

.replyExpansionButton{
    border-radius: 10px;
    padding: .5em;
    background-color: rgb(240, 240, 240);
    min-width: fit-content;
    margin-top: 10px;
    align-self: flex-start;
    justify-self: flex-start;
    color: black;
}

.replyExpansionButton:hover{
    cursor: pointer;
    background-color: rgb(220, 220, 220);
}

.recursiveChildOffset{
    margin-left: 5rem;
}