.searchResults {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#topBar {
    display: flex;
    flex-direction: row;
}

.formButton {
    margin: .2rem;
}

.formDiv {
    margin: 0;
    padding: 0;
}

#horizontalForm {
    box-sizing: border-box;
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
}