.valid{
    color:green;
    margin-left: 1rem;
}
.invalid{
    color:red;
    margin-left: 1rem;
}
.errmsg{
    color: white;
}

.instructions{
    color:white;
    font-size: 1.25rem;
}

.offscreen{
    display:none;
}

.regForm {
    gap: 1rem
}

.checkBox {
    width: 1.5rem;
    height: 1.5rem;
    accent-color: green;
}