.valid{
    color:green;
    margin-left: 1rem;
}
.invalid{
    color:red;
    margin-left: 1rem;
}
.errmsg{
    color: white;
}

.instructions{
    color:white;
    font-size: 1rem;
}

.offscreen{
    display:none;
}

.regForm {
    gap: 1rem
}